html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

p {
	line-height: 1.5rem;

}

$background-color: rgb(57,57,57)	;
$body-font-color: rgb(166,166,166);
$article-header-font-color: rgb(126,170,199)	;
$site-header-font-color: rgb(215,138,60);

$site-header-font-size: 1.3rem;
$article-header-font-size: .9rem;
$article-body-font-size: .9rem;

em {
	font-style: italic;
}

article {
  padding-bottom: 0.7rem;
}

.site-header {
  font-size: 1rem;
  padding-bottom: 2rem;
	color: rgb(223,96,44);
}

.site-header a {
  text-decoration: none;
}
.site-header p {
  padding-top: 0.2rem;
  font-size: .9rem;
  font-style: italic;
}

.article-header {
 padding-bottom: 1rem;
 font-size: $article-header-font-size;
  a {
    text-decoration: none;
  }
}
.page-footer {
  color: darken($body-font-color, 20%);
}
.article-footer {
  color: darken($body-font-color, 20%);
	padding-bottom: 1.5rem;
	padding-top: 0.5rem;
}

.meta a {
	color: darken($body-font-color, 40%);
	text-decoration: none;
}

nav {
  padding-top: .2rem;
}

nav a {
	padding-right: 15px;
  font-size: 0.9rem;
  font-style: italic;

}

.tags {
	list-style: none;
	padding: 0;
	display: inline;
	margin: 0;
}

.tags li {
  display: inline;
  text-decoration: none;
	padding: 0;
	margin: 0;
}

.tags li a {
  text-decoration: none;
  color: #8da8b0;
	display: inline;
	padding: 0;

}

// .tags li::after {
//   content: ",";
// }
//
// .tags li:last-child::after {
//     content: "";
// }

.tags li + li:before {
    content: ", ";
}

// #footer
// {
// width: 100%;
// }

body {
	background-color: $background-color;
	font-family: "ibm-plex-mono", sans-serif;
	font-size: $article-body-font-size;
  line-height: 1.5em;
	color: $body-font-color;
	padding: 3em;
}

hr {
	color: darken($body-font-color, 40%);
	margin-top: 1rem;
}


p {
  margin-bottom: 0.6rem;
	margin-top: 0.5rem;
  a, a:visited, a:active, a:hover {
    text-decoration-color: darken($body-font-color, 20%);
		color: rgb(126,170,199);
  }
}

h1, h1 a, h1 a:visited, h1 a:active, h1 a:hover {
  font-size: $site-header-font-size;
  text-decoration: none;
  font-weight: bold;
  color: rgb(179,202,116);
}

h2, h2 a, h2 a:visited, h2 a:active, h2 a:hover {
	padding-bottom: 1rem;
	font-weight: bold;
	font-size: 1.1rem;
	padding-top: 1rem;
	text-decoration: none;
	color: rgb(215,138,60);
}

h3 {
	font-weight: bold;
	padding-top: 0.8rem;
	text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 800px;
  display: grid;
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
		padding-left: 0.1rem;
  }
  body {
	  padding: 1.5em;
  }
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-left: 15px;
  border-left: 2px solid darken($body-font-color, 20%);
}

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

#{$a-tags} {
  color: #7eaac7;
	text-decoration: none;
}




.videoWrapper {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-bottom: 1rem;
}

// .entry-content {
// 	padding-bottom: 1rem;
// }

.page-footer a {
	color: darken($body-font-color, 20%);
	text-decoration: none;
}

h3 a, h3 a:active, h3 a:hover, h3 a:visited {
	text-decoration: none;
	color: rgb(126,170,199);
}
