{{ partial "header.html" . }}

<section id=content>
  <div class=posts_listing>
    {{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "post") (index .Site.Params "archive-paginate" | default 25) }}
    {{ range $paginator.Pages  }}
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div id=date>
          <time>{{ .Date.Format "Monday, January 2 2006" }}</time>
          <div class="entry-content">
            {{ .Content }}
          </div>
        </div>
    {{ end }}
  </div>
</section>

{{ partial "footer.html" . }}
